:root {
    --popover-bg-color: #2196F3;
    --popover-txt-color: #FFF;
    --shadow-color: #a7a6a4;
}

div.outerTopButtonDiv, div.outerBottomButtonDiv {
    display: inline-block;
    position: relative;
}

div.outerTopButtonDiv.copied div.innerButtonDiv::before, 
div.outerBottomButtonDiv.copied div.innerButtonDiv::before {
    content: 'Copied';
    display: inline-block;
    position: absolute;
    top: -37px;
    z-index: 999;
    left: -10px;
    color: var(--popover-txt-color);
    background-color: var(--popover-bg-color);
    padding: 7px 10px;
    border-radius: 4px;
    font-size: 1.1em;
    box-shadow: 0px -2px 9px 1px var(--shadow-color);
}

div.outerTopButtonDiv.copied div.innerButtonDiv::after, 
div.outerBottomButtonDiv.copied div.innerButtonDiv::after {
    content: '';
    position: absolute;
    top: -19px;
    left: 14px;
    background-color: var(--popover-bg-color);
    padding: 7px;
    transform: rotate(45deg);
    box-shadow: 2px 2px 3px 0px var(--shadow-color);
}